@theme {
  /* Colors */
  --color-black: #131517;
  --color-white: #ffffff;
  --color-cranberry-/-pink: #de475e;
  --color-gray-60: #939597;
  --color-gray-90: #333537;

  /* Spacing */
  --spacing-spacing-1: 2px;
  --spacing-spacing-2: 4px;
  --spacing-spacing-3: 8px;
  --spacing-spacing-4: 9px;
  --spacing-spacing-5: 10px;
  --spacing-spacing-6: 12px;
  --spacing-spacing-7: 14px;
  --spacing-spacing-8: 16px;
  --spacing-spacing-9: 18px;
  --spacing-spacing-10: 20px;
  --spacing-spacing-11: 24px;
  --spacing-spacing-12: 32px;
  --spacing-spacing-13: 40px;
  --spacing-spacing-14: 48px;
  --spacing-spacing-15: 64px;
  --spacing-spacing-16: 96px;
  --spacing-spacing-17: 144px;
  --spacing-spacing-18: 160px;

  /* Border Radius */
  --radius-small: 0.25rem;
  --radius-small-squircle: 0.5rem;
  --radius-default: 0.5rem;
  --radius-card: 0.75rem;
  --radius-squircle-/-large: 1rem;
  --radius-card-squircle: 1.5rem;
  --radius-modal-squircle: 2rem;
  --radius-pill-/-button: 15px;
  --radius-event-card-image: 11px;
  --radius-full-pill: 100px;

  /* Fonts */
  --font--apple-system: "-apple-system", sans-serif;

}